.search {
  font-family: "Inconsolata", monospace;
  color: white;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  width: 780px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 33px;
  height: 46px;
  margin-top: 160px;
}

::placeholder {
  color: white;
}
.button {
  font-family: "Inconsolata", monospace;
  color: white;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  width: 200px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 33px;
  height: 46px;
  margin-top: 60px;
}

.button:hover {
  background-color: rgb(231, 222, 222);
  color: black;
  cursor: pointer;
  border: 1px black solid;
}

.unactiveButton {
  pointer-events: none;
  cursor: not-allowed;
}

.results {
  max-width: 780px;
  margin: 0 auto;
  display: flex;
  height: 61px;
  justify-content: center;
}

@media only screen and (max-width: 960px) {
  .button {
    min-width: 300px;
  }
  .search {
    width: 100%;
    margin-top: 60px;
  }
  .results {
    display: block;
    height: auto;
    max-width: 180px;
  }
}
